@import url(https://rsms.me/inter/inter.css);
@import "lazy-raster";
@import "bahunya/main";

.test-dead-code-elimination-sentinel {
  color: red;
}

:root {
  --primary: #7cc442;
  --primary-dark: #4c7927;
}

input[type=submit],
button[type=submit],
button:not([disabled]) {
  background: var(--primary);
}
input[type=submit]:hover,
button[type=submit]:hover,
button:not([disabled]):hover {
  background: var(--primary-dark);
}

dd + dt {
  border-top: 1px solid var(--primary);
}

blockquote, #taglist {
  border-left: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
}

mark {
  background: var(--primary);
}

a {
  color: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.invisible {
  display: none;
}

.centre {
  text-align: center;
}

@include for-tablet-up {
  body
  {
    background-image: url(/img/border.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-size: contain;
    background-blend-mode: soft-light;
  }
}