@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  src: url("/fonts/Inter.var.woff2") format("woff2");
}

/* vietnamese */
@font-face {
  font-family: 'Glory';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Glory-vietnamese.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Glory';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Glory-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Glory';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Glory-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html { font-family: 'Glory', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Glory', sans-serif; }
}

// fonts
$serif: 'Glory', sans-serif;
$sans-serif: 'Glory', sans-serif;
$monospace: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

@import "lazy-raster";
@import "bahunya/main";

h1, h2, h3, h4, h5, h6 { font-family: Glory, sans-serif; }
@supports (font-variation-settings: normal) {
  h1, h2, h3, h4, h5, h6 { font-family: Glory, sans-serif; }
}

.test-dead-code-elimination-sentinel {
  color: red;
}

:root {
  --primary: #7cc442;
  --primary-dark: #4c7927;
}

input[type=submit],
button[type=submit],
button:not([disabled]) {
  background: var(--primary);
}
input[type=submit]:hover,
button[type=submit]:hover,
button:not([disabled]):hover {
  background: var(--primary-dark);
}

dd + dt {
  border-top: 1px solid var(--primary);
}

blockquote, .taglist {
  border-left: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
}

mark {
  background: var(--primary);
}

a {
  color: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.invisible {
  display: none;
}

.centre {
  text-align: center;
}

@include for-tablet-up {
  body
  {
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-size: contain;
    background-blend-mode: soft-light;
  }

  body.winter
  {
    background-image: url(/img/border-winter.png);
  }

  body.spring
  {
    background-image: url(/img/border-spring.png);
  }

  body.summer
  {
    background-image: url(/img/border-summer.png);
  }

  body.autumn
  {
    background-image: url(/img/border-autumn.png);
  }
}

.external-link {
  height: 0.8em;
}

.menu-icon img {
  height: 1.4em;
  width: 1.4em;
  position: relative;
  top: 0.3em;
}

header nav a {
  margin-left:0.5em;
}

header nav h1 {
  position:relative;
  top:0.3em;
}

header nav a:last-of-type {
  margin-right: 0.5em;
}