---
title: Allergic to Gardening
layout: layouts/home.njk
description: I'm basically one of the people least suited to gardening at a biological level, but I've never let that stop me before and won't this time, either.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<div class="field">
  <label for="searchField">Search</label>
  <input type="search" placeholder="Search..." id="searchField" />
</div>
<ol id="searchResults"></ol>
<div id="noResultsFound" style="display: none">
  <p>No results found.</p>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
<script type="text/javascript" src="/js/search.js"></script>